language: cpp

compiler: gcc

before_script:
    - mkdir build
    - cd build
    - cmake ..
      
script: make

after_success: 
    - ./nasteroids 0 0
    - ./nasteroids 0 0 0 0 0
    - ./nasteroids 1 2 3 4.65 876

notifications:
    slack: lavendiciondevs:cdzfkpSMhUov1iMl6z1CiIs1#arcos
